
# Telegram API Credentials
API_ID=24549887
API_HASH=149e06efc4071d203180d3c6239323d1
BOT_TOKEN=8315851779:AAGj8bW5jHzsuPCfshK8VzZfFQmwXiXrD6g

# Bot Performance Settings
PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1
